<div class="background-start">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-3 white"><br><br><br><br>
        <h1 class="logo2">Trippin</h1>
        <%= bootstrap_form_for(:user, url: '/users') do |f| %>
          <%= f.text_field :name %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
          <%= f.submit "Submit", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

