<%= form_tag orders_path, method: "post" do %>
  <div id="dropin"></div>
  <% if @event.participants != nil %>
  <input style='display:none;' type='text' name='number' value = <%= (@event.cost/@event.participants.length).round%>>
<%#this will be hidden div %>
  <input style='display: none;' type='text' value=<%=@event.id%> name='id'>
  <div class="contribute">you need to contribute before 15/12/15</div>

   <span class="pay-now">$<%= ((@event.cost/10) - (@event.amount[@event.participants.index(current_user.id.to_s)])).round  %><button  class="btn btn-default" type="submit"  %> pay now</button></span>
<% end %>
<% end %>


<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%=@client_token%>", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
  </script>
</script>
