<div class="row no-gutters">
  <div class="col-sm-2">
   <%= render 'sidebar' %>
 </div>
  <div class="col-sm-7">
      <div class="row no-gutters">
        <div class="col-sm-12 ">
          <div class="heading">
            <span class="date"><h4>21st December 2015  &nbsp;<%= fa_icon "calendar" %> <br></h4></span>
            <h2> Participants </h2>
            <% @event = Event.find(params[:id]) %>
            <% @participants = Event.find(params[:id]).participants %>
                      </div>
        </div>
        <div class="col-sm-12"><br>
        <div class="container">
          <div class="row">
          <% @participants.each do |p| %> 
              <% @a = User.find_by(id: p) %> 
               Name: <%= @a.name %> <br>
               email: <%= @a.email %> <br>
               Paid amount: <%= @event.amount[@event.participants.index(p)] %> <br>
            <% end %>

            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  <div class="col-sm-3">
    <%= render 'chat' %>
  </div>
</div>
