<h1> <%= @event.title %> </h1> 
organized by: <%= @event.user.name %> <br> 
total cost $<%= @event.cost %><br>
<%= link_to 'edit event', edit_event_path(@event.id) %><br>
<% if @event.participants != nil %>
  cost per participant $<%= (@event.cost/@event.participants.length) %><br>
  <% if @event.participants.include?(current_user.id.to_s) %>
    <%= link_to 'remove yoself', part_path %><br>
  <% else %>
    <%= link_to 'add yoself', part_path %><br>
  <% end %>
  <h2> List of Participants </h2>
  <% @event.participants.each do |event| %>
  <% @a = User.find_by(id: event) %> <br>
  <%= @a.name %>  <br>
  <%= @a.email %><br>
  <% end %>
<% else %>
  <%= link_to 'add yoself', part_path %>
<% end %>

  
