
  <div class="row no-gutters">
    <div class="col-sm-2">
     <%= render 'sidebar' %>
   </div>
    <div class="col-sm-7">
        <div class="row no-gutters">
          <div class="col-sm-12">
            <div class="heading">
              <span class="date"><h4>21st December 2015  &nbsp;<%= fa_icon "calendar" %> <br></h4></span>
              <h1> <%= @event.title.upcase %> </h1> 
              organized by: <%= @event.user.name %> <br>
              total cost: $<%= @event.cost.round %><br>
              <% if @event.amount != nil %>
              <h3>remaining balance: $<%= @event.cost.round - (@event.amount.reduce(:+).round) %></h3>
              <% end %>
            </div>
          </div>
          <div class="col-sm-12 text-center"><br>
              <%#<%= link_to 'edit event', edit_event_path(@event.id) %> 
              <% if @event.participants != nil %>

                <% if @event.participants.include?(current_user.id.to_s) %>
                  <%= link_to 'Join The Trip', part_path, class: "btn btn-info" %><br>
                <% else %>
                  <%= link_to 'Join The Trip', part_path, class: "btn btn-info" %><br>
                <% end %>
          
                <% if @event.participants.include?(current_user.id.to_s) %>
                  <% if ( ((@event.cost/10) - (@event.amount[@event.participants.index(current_user.id.to_s)])).round ) < 1   %>
                    <span class ="pay-now heading-green"> Thanks for Chipping In </span>
                  <% else %>
                    <%= render 'payment/form' %>
                  <% end %>
                <% else %>
                  <span class ="pay-now"> Join the Group </span>
                <% end %>

              <% else %>
                <%= link_to 'Join the trip', part_path, class: "btn btn-info" %>
              <% end %>
            
          </div>
          <div class="col-sm-12 text-center">
          </div>
          <% if @event.participants != nil %>
       
          <div class="overall-cost text-center">Overall cost: $<%= @event.cost.round %> split between 10 participants<br></div>
                
          <% end %>
        
       
        <div class="row no-gutters">
          <div class="col-sm-6 list border-right">
            <div class="title"><%= fa_icon "users" %> &nbsp;Shared checklist &nbsp;&nbsp;<%= fa_icon "info-circle", class: "light" %></div>
            <div>
              <div class="padding-left">None for this trip!</div>
            </div>
          </div>
          <div class="col-sm-6 list">
            <div class="title"><%= fa_icon "lock" %> &nbsp;Private checklist &nbsp;&nbsp;<%= fa_icon "info-circle", class: "light" %></div>
            <div>
              <div class="padding-left green"><%= fa_icon "check-square-o" %> Passport</div>
              <div class="padding-left"><%= fa_icon "square-o" %> Sleeping Bag</div>
              <div class="padding-left green"><%= fa_icon "check-square-o" %> Art Materials</div>
              <div class="padding-left"><%= fa_icon "square-o" %> Signed Documents</div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-sm-3">
      <%= render 'chat' %>
    </div>
  </div>


