  <div class="row no-gutters">
    <div class="col-sm-2">
     <%= render 'sidebar' %>
   </div>
    <div class="col-sm-7">
        <div class="row no-gutters">
          <div class="col-sm-12 ">
            <div class="heading">
              <span class="date"><h4>21st December 2015  &nbsp;<%= fa_icon "calendar" %> <br></h4></span>
              <h1> <%= @event.title.upcase %> </h1> 
              organized by: <%= @event.user.name %> <br>
            </div>
          </div>
          <div class="col-sm-12 text-center">
              <%= link_to 'edit event', edit_event_path(@event.id) %> | 
              <%= link_to 'add participants', part_path %><br>
          </div>
          <div class="col-sm-12 text-center">
            <div class="contribute">you need to contribute before 15/12/15</div>
            <span class="pay-now">$230.00 <button class="btn btn-default">pay now</button></span>
            <div class="overall-cost">Overall cost: $<%= @event.cost %> split between 20<%# @event.participants %> participants<br></div>
          </div>

          

        
        </div>
        <div class="row no-gutters">
          <div class="col-sm-6 list border-right">
            <div class="title"><%= fa_icon "users" %> &nbsp;Shared checklist &nbsp;&nbsp;<%= fa_icon "info-circle", class: "light" %></div>
            <div>
              <div class="padding-left">None for this trip!</div>
            </div>
          </div>
          <div class="col-sm-6 list">
            <div class="title"><%= fa_icon "lock" %> &nbsp;Private checklist &nbsp;&nbsp;<%= fa_icon "info-circle", class: "light" %></div>
            <div>
              <div class="padding-left green"><%= fa_icon "check-square-o" %> Passport</div>
              <div class="padding-left"><%= fa_icon "square-o" %> Sleeping Bag</div>
              <div class="padding-left green"><%= fa_icon "check-square-o" %> Art Materials</div>
              <div class="padding-left"><%= fa_icon "square-o" %> Signed Documents</div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
      <%= render 'chat' %>
    </div>
  </div>
