<div class="sidebar">
  <div class="logo">Trippin'</div>
  <div class="profile">
    <% if current_user %>
          <div class="circle"></div>
          <div class="sign-in"><%= current_user.name %> | <%= link_to "Logout", '/logout' %></div>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/users/new' %>
    <% end %>   
  </div>

  <div class="event-header">
    <h4>Upcoming Trips</h4>
  </div>
  <% if current_user %>
  <% current_user.events.each do |v| %>
    <%= link_to event_path(v.id) do%>
      <div class="event-link">
        <p><%= v.title %></p>
        <h3 class="red">25 Days 12:53</h3>
      </div>
      <div class="participant">
        <h4><%= fa_icon "user" %> &nbsp; participants</h4>
      </div>
    <% end %>
  <% end %>
  <% end %>
  
  <%= link_to new_event_path do%>
    <div class="icon">
      <%= fa_icon "plus-circle 4x" %>
      <p>Create New <br>Trip</p>
    </div>
  <% end %>
</div>
